* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$alto-cuenta: 50vh;
$ancho-cuenta: 50vw;
$titulo-font: "Alfa Slab One", cursive;
$azul: #1a1c76;
$azulClaro: #615ebb;
$rojo: #d7391b;

.contenedor-imagenPrincipal {
    display: flex;
    justify-content: center;
    height: 550px;
    margin-top: 40px;
    img {
        max-width: 100%;
        height: auto;
        opacity: 0;
        animation: aparecer 3s;
        animation-fill-mode: forwards;
}
}
@keyframes aparecer {
    from {
    opacity: 0;
}

    to {
    opacity: 1;
}
}
.contenedorContacto {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(2, 200px);
    justify-content: center;
    margin-top: 70px;
    column-gap: 30px;
    row-gap: 30px;
    
    .box {
    background-position: center;
    background-size: cover;
    position: relative; 
    overflow: hidden;
}
.box1 {
    grid-column: 1/2;
    grid-row: 1/2;
    background-image: url(../imagenes/byn.jpg);
}
.box2 {
    grid-column: 2/4;
    grid-row: 1/3;
    background-image: url(../imagenes/byn2.jpg);
    h1 {
    font-family: $titulo-font;
    font-size: 80px;
    overflow: hidden;
    margin-top: 90px;
    margin-left: 10px;
    letter-spacing: -5px;
    color: white;
    }
}
.box3 {
    grid-column: 4/5;
    grid-row: 1/2;
    background-image: url(../imagenes/jean2.jpg);
    P{
        display: flex;
        justify-content: center;
        font-size: 30px;
        font-family: $titulo-font;
        font-weight: bold;
        font-weight: 100;
        margin-top: 30px;
        color: white;
    }
}
.box4 {
    grid-column: 1/2;
    grid-row: 2/3;
    background-image: url(../imagenes/byn.jpg);
}
.box5 {
    grid-column: 4/5;
    grid-row: 2/3;
    background-image: url(../imagenes/qr.jpeg);
}

}


@media (max-width: 768px){
    .contenedorContacto {
    grid-template-columns: repeat(2, 140px);
    grid-template-rows: repeat(5, 140px);
    height: auto;
    column-gap: 1.5px;
    
    .box1{
        grid-column: 1/2;
        grid-row: 3/4 
    }  
    .box2{
        grid-column: 1/3;
        grid-row: 1/3;
    }

    .box3{
        grid-column: 2/3;
        grid-row: 4/5;
    
    }    
    .box4{
        grid-column: 2/3;
        grid-row: 3/4
    }
    .box5{
    grid-column: 1/2;
    grid-row: 4/5; 
    }
    
}}

@media (min-width: 768px) and (max-width: 1200px){
    .contenedorContacto {
        display: grid;
        grid-template-columns: repeat(4, 200px);
        grid-template-rows: repeat(2, 200px);
        justify-content: center;
        margin-top: 70px;
        column-gap: 10px;
        row-gap: 30px;
    }
}