@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Barlow:wght@900&family=IBM+Plex+Sans&family=Inclusive+Sans&family=Montserrat:wght@100;600;900&family=Roboto+Slab:wght@600&display=swap');

/*font-family: 'Alfa Slab One', cursive;
font-family: 'Barlow', sans-serif;
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Inclusive Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Slab', serif;
*/

$alto-cuenta: 50vh;
$ancho-cuenta: 50vw;
$titulo-font: "Alfa Slab One", cursive;
$azul: #1a1c76;
$azulClaro: #615ebb;
$rojo: #d7391b;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ESTILOS GENERALES */
body {
    background-color: white;
    ::selection{
        background-color: black;
        color: white;
        }
}
h1 {
    font-family: "Roboto", sans-serif;
    font-size: 23px;
    color: black;
    margin: 100;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-size: 50px;
    padding: 30px;
    margin-left: 200px;
}

h3 {
    font-family: "roboto";
    font-weight: 100;
    font-size: 20px;
    color: black;
    margin-top: 30px;
    text-align: center;
}
/* FIN ESTILOS GENERALES */
/* INICIO NAVBAR */
header .navbar{
    background-color: white !important;
    margin-top: 10px;
}
.nav-item{
    border-top: solid 1px black !important;
    border-bottom: solid 1px black !important;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    a {
        text-decoration: none;
        color: black;
        position: relative;
}
::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: $azulClaro ;
    position: absolute;
    bottom: 0;
    right: 50%;
    transition: all 0.5s;
    will-change: width;
}
a:hover::after {
    width: 100%;
    right: 0;
}
}
.navbar-collapse {
    display: flex;
    justify-content: center;
    color: black;
}
/* FIN NAVBAR */
/* INDEX COMIENZA */
.nombre {
    border: solid 1px black;
    padding: 10px;
    display: inline-block;
    font-size: 2px;
    font-family: Arial;
    width: 100px;
    height: 90px;
    margin-left: 15px;
    margin-top: 10px;

}
#spanNombre {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
.tituloSaludo {
    background-image: url(../imagenes/fondo2.jpg);
    display: flex;
    justify-content: flex-start;
    font-size: 100px;
    font-family: $titulo-font;
    margin-top: 50px;
    margin-left: 20px;
    color: white;
}
.contenedor-polas{
    display: grid;
    grid-template-columns: repeat(2, 500px);
    grid-template-rows: 700px; 
    justify-content: center;
    column-gap: 50px;

    .pola{
        background-position: center;
        background-size: cover;
        position: relative; 
        overflow: hidden;
        margin-top: 40px;
    }
    .pola1{
        grid-column: 1/2;
        grid-row: 1/2;
        background-image: url(../imagenes/pola1.jpg);
    }
    .pola2{  
        grid-column: 2/3;
        grid-row: 1/2;
        background-image: url(../imagenes/pola2.jpg);
    }
}

.parrafo-index {
    font-weight: 100;
    font-size: 20px;
    color: black;
    text-align: center;
    margin-top: 30px;
}

/* RESPONSIVE */
@media only screen and (min-width: 480px) {
    .contenedor-polas{
        grid-template-columns:500px;
    }
    .tituloSaludo{
        margin-left: 0px;
        font-size: 50px;
    }

}    

/* INDEX TERMINA */

/* TRABAJEMOS COMIENZA */

@import "trabajemos.scss";

/* TRABAJEMOS TERMINA */

/* ULTIMO PROYECTO EMPIEZA */
.container-enfoque {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
        margin-bottom: 160px;
        margin-top: 40px;
    }
    .tituloGrande2 {
        color: #1a1c76;
        font-weight: bold;
        font-family: "Alfa Slab One", cursive;
    }
    .carrusel {
        width: 70% !important;
        margin: 0 auto !important;
        position: absolute;
        max-width: 70%;
        z-index: 2 !important;
        box-shadow: 2px 2px 15px #2b2a4c;
    }
    @media only screen and (max-width: 480px) {
    .tituloGrande2 {
        letter-spacing: 20px;
        font-size: 50px;
}
    .carrusel{
        margin-top: 40px !important;
        width: 100% !important;
        display: flex;
        justify-content: center;
    }

}
    @media only screen and (min-width: 768px) {
    .tituloGrande2 {
        font-size: 90px;
}
    .carrusel {
        width: 70% !important;
        margin-top: 40px !important;
}
}
    @media only screen and (min-width: 1200px) { 
    .container-enfoque {
        display: flex;
        justify-content: left;
        text-align: center;
        margin-bottom: 160px;
        margin-top: 40px;
        }
    .tituloGrande2 {
        margin-top: 10px;
        font-size: 150px;
        letter-spacing: 30px;
        margin-left: 40px;
}
    .carrusel {
        width:850px !important;
        margin-top: 90px !important;
        margin-left: 420px !important;
        box-shadow: 2px 2px 15px #2b2a4c;
    }
}
/* ULTIMO PROYECTO TERMINA */

/* CONTACTO EMPIEZA */
@import "contacto.scss";
/* CONTACTO TERMINA */

/* Inicio FOOTER */
footer {
    padding: 30px;
    letter-spacing: 5px;
    background-color: white;
    text-align: start;
    
    .icono {
    color: black;
    text-decoration: none;
    margin-left: 25px;
    font-size: 20px;
    flex-direction: row;
    
}
    p{ 
        display: flex;
        justify-content: start;
        color: black;
        font-size: 18px;
        font-family: 'Inclusive Sans', sans-serif;
        margin-top: 100px;
    }
}

  /*  FOOTER TERMINA */

/* GALERIA DE IMAGENES EMPIEZA  */
@import "galeria.scss";
/* GALERIA DE IMAGENES TERMINA  */
