@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Barlow:wght@900&family=IBM+Plex+Sans&family=Inclusive+Sans&family=Montserrat:wght@100;600;900&family=Roboto+Slab:wght@600&display=swap");
/*font-family: 'Alfa Slab One', cursive;
font-family: 'Barlow', sans-serif;
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Inclusive Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Slab', serif;
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ESTILOS GENERALES */
body {
  background-color: white;
}
body ::-moz-selection {
  background-color: black;
  color: white;
}
body ::selection {
  background-color: black;
  color: white;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 23px;
  color: black;
  margin: 100;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 50px;
  padding: 30px;
  margin-left: 200px;
}

h3 {
  font-family: "roboto";
  font-weight: 100;
  font-size: 20px;
  color: black;
  margin-top: 30px;
  text-align: center;
}

/* FIN ESTILOS GENERALES */
/* INICIO NAVBAR */
header .navbar {
  background-color: white !important;
  margin-top: 10px;
}

.nav-item {
  border-top: solid 1px black !important;
  border-bottom: solid 1px black !important;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav-item a {
  text-decoration: none;
  color: black;
  position: relative;
}
.nav-item ::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #615ebb;
  position: absolute;
  bottom: 0;
  right: 50%;
  transition: all 0.5s;
  will-change: width;
}
.nav-item a:hover::after {
  width: 100%;
  right: 0;
}

.navbar-collapse {
  display: flex;
  justify-content: center;
  color: black;
}

/* FIN NAVBAR */
/* INDEX COMIENZA */
.nombre {
  border: solid 1px black;
  padding: 10px;
  display: inline-block;
  font-size: 2px;
  font-family: Arial;
  width: 100px;
  height: 90px;
  margin-left: 15px;
  margin-top: 10px;
}
.nombre h1 {
  transition: 2s;
}
.nombre h1:hover {
  transform: rotatey(360deg);
}
.nombre #spanNombre {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

.tituloSaludo {
  background-image: url(../imagenes/fondo2.jpg);
  display: flex;
  justify-content: flex-start;
  font-size: 100px;
  font-family: "Alfa Slab One", cursive;
  margin-top: 50px;
  margin-left: 20px;
  color: white;
}

.contenedor-polas {
  display: grid;
  grid-template-columns: repeat(2, 500px);
  grid-template-rows: 700px;
  justify-content: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.contenedor-polas .pola {
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  position: relative;
  overflow: hidden;
  margin-top: 40px;
}
.contenedor-polas .pola1 {
  grid-column: 1/2;
  grid-row: 1/2;
  background-image: url(../imagenes/pola1.jpg);
}
.contenedor-polas .pola2 {
  grid-column: 2/3;
  grid-row: 1/2;
  background-image: url(../imagenes/pola2.jpg);
}

.contenedor-parrafo-index {
  border: solid 50px white;
  margin-top: 30px;
}
.contenedor-parrafo-index .parrafo-index {
  font-weight: 200;
  font-size: 22px;
  color: black;
  text-align: center;
  background-image: url(../imagenes/fondo5.jpg);
}

/* RESPONSIVE */
@media only screen and (max-width: 768px) {
  .contenedor-polas {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 600px);
  }
  .contenedor-polas .pola2 {
    grid-column: 1/2;
    grid-row: 2/3;
    background-image: url(../imagenes/pola2.jpg);
  }
  .tituloSaludo {
    margin-left: 0px;
    font-size: 40px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1050px) {
  .contenedor-polas {
    grid-template-columns: repeat(2, 450px);
    grid-template-rows: 600px;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
/* INDEX TERMINA */
/* TRABAJEMOS COMIENZA */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedorTrabajemos {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 350px);
  grid-template-rows: repeat(11, 100px);
  margin-top: 30px;
}
.contenedorTrabajemos .caja {
  border: solid #1a1c76 1.5px;
  background-position: center;
  background-color: rgba(173, 164, 154, 0.1960784314);
}

.caja1 {
  grid-column: 1/3;
  grid-row: 1/6;
  background-image: url(../imagenes/foto1.jpg);
  background-size: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}
.caja1 h1 {
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: "Alfa Slab One", cursive;
  font-size: 80px;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.725);
  margin-top: 15%;
}

.caja2 {
  background-image: url(../imagenes/cartera.jpg);
  grid-column: 3/4;
  grid-row: 1/6;
}

.caja3 {
  grid-column: 4/5;
  grid-row: 1/3;
}

.caja4 {
  grid-column: 4/5;
  grid-row: 3/4;
}

.caja5 {
  grid-column: 4/5;
  grid-row: 4/6;
}
.caja5 p {
  margin-top: 25px;
  margin-left: 15px;
}

.caja6 {
  grid-column: 1/2;
  grid-row: 6/7;
}

.caja7 {
  grid-column: 1/2;
  grid-row: 7/9;
}
.caja7 p {
  margin-top: 25px;
  margin-left: 15px;
}

.caja8 {
  grid-column: 1/2;
  grid-row: 9/11;
}

.caja9 {
  grid-column: 2/3;
  grid-row: 6/11;
  background-image: url(../imagenes/modelo2.jpg);
  background-size: cover;
}

.caja10 {
  grid-column: 3/4;
  grid-row: 6/7;
}

.caja11 {
  grid-column: 3/4;
  grid-row: 7/9;
}
.caja11 p {
  margin-top: 25px;
  margin-left: 15px;
}

.caja12 {
  grid-column: 3/4;
  grid-row: 9/11;
}

.caja13 {
  grid-column: 4/5;
  grid-row: 6/11;
  background-image: url(../imagenes/carterados.jpg);
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .contenedorTrabajemos {
    grid-template-columns: repeat(2, 160px);
    grid-template-rows: repeat(16, 160px);
    width: 100%;
  }
  .contenedorTrabajemos .caja1 {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .contenedorTrabajemos .caja1 h1 {
    font-size: 30px;
    margin-top: 10px;
    margin-left: 10px;
  }
  .contenedorTrabajemos .caja2 {
    grid-column: 1/3;
    grid-row: 2/4;
    background-image: url(../imagenes/cartera.jpg);
    -o-object-fit: cover;
       object-fit: cover;
  }
  .contenedorTrabajemos .caja4 {
    grid-column: 1/3;
    grid-row: 4/5;
  }
  .contenedorTrabajemos .caja5 {
    grid-column: 1/3;
    grid-row: 5/6;
  }
  .contenedorTrabajemos .caja6 {
    grid-column: 1/3;
    grid-row: 6/7;
  }
  .contenedorTrabajemos .caja7 {
    grid-column: 1/3;
    grid-row: 7/8;
  }
  .contenedorTrabajemos .caja8 {
    grid-column: 1/3;
    grid-row: 8/9;
  }
  .contenedorTrabajemos .caja9 {
    grid-column: 1/3;
    grid-row: 9/11;
  }
  .contenedorTrabajemos .caja10 {
    grid-column: 1/3;
    grid-row: 11/12;
  }
  .contenedorTrabajemos .caja11 {
    grid-column: 1/3;
    grid-row: 12/13;
  }
  .contenedorTrabajemos .caja12 {
    grid-column: 1/3;
    grid-row: 13/14;
  }
  .contenedorTrabajemos .caja13 {
    grid-column: 1/3;
    grid-row: 14/16;
  }
}
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .contenedorTrabajemos {
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: repeat(20, 100px);
    width: 100%;
    margin-left: 50px;
  }
  .contenedorTrabajemos .caja1 {
    grid-column: 1/3;
    grid-row: 1/6;
  }
  .contenedorTrabajemos .caja2 {
    background-image: url(../imagenes/cartera.jpg);
    grid-column: 1/2;
    grid-row: 11/15;
  }
  .contenedorTrabajemos .caja3 {
    grid-column: 2/3;
    grid-row: 11/13;
  }
  .contenedorTrabajemos .caja4 {
    grid-column: 2/3;
    grid-row: 13/14;
  }
  .contenedorTrabajemos .caja5 {
    grid-column: 2/3;
    grid-row: 14/16;
  }
  .contenedorTrabajemos .caja10 {
    grid-column: 1/2;
    grid-row: 16/17;
  }
  .contenedorTrabajemos .caja11 {
    grid-column: 1/2;
    grid-row: 17/19;
  }
  .contenedorTrabajemos .caja12 {
    grid-column: 1/2;
    grid-row: 19/20;
  }
  .contenedorTrabajemos .caja13 {
    grid-column: 2/3;
    grid-row: 16/20;
    background-image: url(../imagenes/fashion3.jpg);
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .contenedorTrabajemos {
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: repeat(20, 100px);
    width: 100%;
    margin-left: 50px;
  }
  .contenedorTrabajemos .caja1 {
    grid-column: 1/3;
    grid-row: 1/6;
  }
  .contenedorTrabajemos .caja2 {
    background-image: url(../imagenes/cartera.jpg);
    grid-column: 1/2;
    grid-row: 11/15;
  }
  .contenedorTrabajemos .caja3 {
    grid-column: 2/3;
    grid-row: 11/13;
  }
  .contenedorTrabajemos .caja4 {
    grid-column: 2/3;
    grid-row: 13/14;
  }
  .contenedorTrabajemos .caja5 {
    grid-column: 2/3;
    grid-row: 14/16;
  }
  .contenedorTrabajemos .caja10 {
    grid-column: 1/2;
    grid-row: 16/17;
  }
  .contenedorTrabajemos .caja11 {
    grid-column: 1/2;
    grid-row: 17/19;
  }
  .contenedorTrabajemos .caja12 {
    grid-column: 1/2;
    grid-row: 19/20;
  }
  .contenedorTrabajemos .caja13 {
    grid-column: 2/3;
    grid-row: 16/20;
    background-image: url(../imagenes/fashion3.jpg);
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1400px) {
  .contenedorTrabajemos {
    grid-template-columns: repeat(4, 250px);
  }
}
/* TRABAJEMOS TERMINA */
/* ULTIMO PROYECTO EMPIEZA */
.contenedor-titulogrande2 {
  margin-bottom: 30px;
  margin-left: 10px;
}
.contenedor-titulogrande2 .tituloGrande2 {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  font-size: 140px;
  letter-spacing: 30px;
  color: #1a1c76;
  text-shadow: 2px 2px 10px rgba(43, 42, 76, 0.5215686275);
  font-weight: bold;
  font-family: "Alfa Slab One", cursive;
}

.carrusel {
  width: 70% !important;
  margin: 0 auto !important;
  position: relative;
  max-width: 70%;
  margin-top: 30px !important;
}
.carrusel .carousel-fade {
  position: absolute;
  box-shadow: 2px 2px 15px #2b2a4c;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .contenedor-titulogrande2 {
    width: 100%;
  }
  .contenedor-titulogrande2 .tituloGrande2 {
    letter-spacing: 5px;
    font-size: 45px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .contenedor-titulogrande2 {
    width: 100%;
  }
  .contenedor-titulogrande2 .tituloGrande2 {
    letter-spacing: 20px;
    font-size: 95px;
  }
}
/* ULTIMO PROYECTO TERMINA */
/* CONTACTO EMPIEZA */
.contenedor-imagenPrincipal {
  display: flex;
  justify-content: center;
  height: 600px;
  margin-top: 40px;
  border-top: solid #1a1c76 1px;
  border-bottom: solid #1a1c76 1px;
}
.contenedor-imagenPrincipal img {
  max-width: 100%;
  height: auto;
  opacity: 0;
  animation: aparecer 3s;
  animation-fill-mode: forwards;
}

@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.contenedor-contacto {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(2, 200px);
  justify-content: center;
  margin-top: 70px;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 30px;
  border-top: solid #1a1c76 1px;
  border-bottom: solid #1a1c76 1px;
}
.contenedor-contacto .box {
  max-width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.contenedor-contacto .box1 {
  grid-column: 1/2;
  grid-row: 1/2;
  border-right: solid #1a1c76 1px;
}
.contenedor-contacto .box2 {
  grid-column: 2/4;
  grid-row: 1/3;
  background-image: url(../imagenes/byn.jpg);
}
.contenedor-contacto .box2 h1 {
  font-family: "Alfa Slab One", cursive;
  font-size: 80px;
  overflow: hidden;
  margin-top: 90px;
  margin-left: 10px;
  letter-spacing: -5px;
  color: white;
}
.contenedor-contacto .box3 {
  grid-column: 4/5;
  grid-row: 1/2;
  background-image: url(../imagenes/jean2.jpg);
}
.contenedor-contacto .box4 {
  grid-column: 1/2;
  grid-row: 2/3;
  border-right: solid #1a1c76 1px;
}
.contenedor-contacto .box5 {
  grid-column: 4/5;
  grid-row: 2/3;
  background-image: url(../imagenes/qr.png);
  background-color: #ada49a;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 768px) {
  .contenedor-imagenPrincipal {
    height: 300px;
  }
  .contenedor-contacto {
    margin-top: 20px;
    grid-template-columns: repeat(2, 140px);
    grid-template-rows: repeat(5, 140px);
    height: auto;
    -moz-column-gap: 1.5px;
         column-gap: 1.5px;
  }
  .contenedor-contacto .box1 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .contenedor-contacto .box2 {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .contenedor-contacto .box3 {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .contenedor-contacto .box4 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .contenedor-contacto .box5 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .contenedor-contacto {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(2, 200px);
    justify-content: center;
    margin-top: 70px;
    -moz-column-gap: 10px;
         column-gap: 10px;
    row-gap: 30px;
  }
}
.contenedor-mapa {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  border-top: solid #1a1c76 1px;
  border-bottom: solid #1a1c76 1px;
}
.contenedor-mapa iframe {
  width: 60%;
  height: 300px;
  filter: invert(90%);
}

/* CONTACTO TERMINA */
/* Inicio FOOTER */
footer {
  padding: 30px;
  letter-spacing: 5px;
  background-color: white;
  text-align: start;
}
footer .icono {
  color: black;
  text-decoration: none;
  margin-left: 25px;
  font-size: 25px;
  flex-direction: row;
  transition: transform 0.3s;
}
footer .icono:hover {
  color: #1a1c76;
}
footer p {
  display: flex;
  justify-content: flex-start;
  color: black;
  font-size: 18px;
  font-family: "Inclusive Sans", sans-serif;
  margin-top: 100px;
}

/*  FOOTER TERMINA */
.boton {
  width: 40px;
  height: 40px;
  position: fixed;
  right: 40px;
  bottom: 25px;
  font-size: 30px;
  text-align: center;
  border: solid 1px black;
  color: rgba(0, 0, 0, 0.708);
}

/* GALERIA DE IMAGENES EMPIEZA  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tituloGrande {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  color: #d7391b;
  text-shadow: 1px 1px 5px rgba(215, 58, 27, 0.4509803922);
  font-weight: bold;
  font-size: 120px;
  font-family: "Alfa Slab One", cursive;
  letter-spacing: 50px;
}

.contenedorImagen1 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}

#imagen1 {
  width: 60%;
  height: auto;
}

.contenedorGaleria {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: repeat(7, 200px);
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 10px;
}

.item {
  background-size: cover;
  background-position: center;
  transition: 1s;
}

.item:hover {
  transform: scale(1.2);
  z-index: 2;
}

.item1 {
  background-image: url(../imagenes/vertical4.jpg);
  grid-column: 1/2;
  grid-row: 1/3;
}

.item2 {
  background-image: url(../imagenes/dorperon.jpg);
  grid-column: 2/3;
  grid-row: 1/2;
}

.item3 {
  background-image: url(../imagenes/Scotty.JPG);
  grid-column: 3/4;
  grid-row: 1/2;
}

.item4 {
  background-image: url(../imagenes/ciana.JPG);
  grid-column: 4/5;
  grid-row: 1/2;
}

.item5 {
  background-image: url(../imagenes/vertical5.jpg);
  grid-column: 2/3;
  grid-row: 2/4;
}

.item6 {
  background-image: url(../imagenes/viejo.jpg);
  grid-column: 3/5;
  grid-row: 2/3;
}

.item7 {
  background-image: url(../imagenes/matu.jpg);
  grid-column: 1/2;
  grid-row: 3/4;
}

.item8 {
  background-image: url(../imagenes/marte.jpg);
  grid-column: 3/4;
  grid-row: 3/4;
}

.item9 {
  background-image: url(../imagenes/marian.JPG);
  grid-column: 4/5;
  grid-row: 3/4;
}

.item10 {
  background-image: url(../imagenes/mono.jpg);
  grid-column: 1/3;
  grid-row: 4/5;
}

.item11 {
  background-image: url(../imagenes/vertical3.jpg);
  grid-column: 3/4;
  grid-row: 4/6;
}

.item12 {
  background-image: url(../imagenes/malenillas.JPG);
  grid-column: 1/2;
  grid-row: 5/6;
}

.item13 {
  background-image: url(../imagenes/manu.JPG);
  grid-column: 2/3;
  grid-row: 5/6;
}

.item14 {
  background-image: url(../imagenes/caroylu.JPG);
  grid-column: 4/5;
  grid-row: 4/5;
}

.item15 {
  background-image: url(../imagenes/lolla.JPG);
  background-size: 400px;
  background-position: bottom;
  grid-column: 4/5;
  grid-row: 5/6;
}

.item16 {
  background-image: url(../imagenes/playa.JPG);
  grid-column: 2/4;
  grid-row: 6/7;
  background-image: 200px;
  background-position: bottom;
}

.item17 {
  background-image: url(../imagenes/beso.jpg);
  grid-column: 1/2;
  grid-row: 6/7;
}

.item18 {
  background-image: url(../imagenes/rafa.jpg);
  grid-column: 4/5;
  grid-row: 6/7;
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .tituloGrande {
    display: flex;
    justify-content: center;
    font-size: 40px;
    letter-spacing: 10px;
  }
  .contenedorImagen1 {
    height: auto;
  }
  #imagen1 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-left: 0px;
  }
  .contenedorGaleria {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(22, 350px);
  }
  .item1 {
    background-image: url(../imagenes/vertical4.jpg);
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .item2 {
    background-image: url(../imagenes/dorperon.jpg);
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .item3 {
    background-image: url(../imagenes/Scotty.JPG);
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .item4 {
    background-image: url(../imagenes/ciana.JPG);
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .item5 {
    background-image: url(../imagenes/vertical5.jpg);
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .item6 {
    background-image: url(../imagenes/viejo.jpg);
    grid-column: 1/2;
    grid-row: 6/7;
  }
  .item7 {
    background-image: url(../imagenes/matu.jpg);
    grid-column: 1/2;
    grid-row: 7/8;
  }
  .item8 {
    background-image: url(../imagenes/marte.jpg);
    grid-column: 1/2;
    grid-row: 8/9;
  }
  .item9 {
    background-image: url(../imagenes/marian.JPG);
    grid-column: 1/2;
    grid-row: 9/10;
  }
  .item10 {
    background-image: url(../imagenes/mono.jpg);
    grid-column: 1/2;
    grid-row: 10/11;
  }
  .item11 {
    background-image: url(../imagenes/vertical3.jpg);
    grid-column: 1/2;
    grid-row: 11/12;
  }
  .item12 {
    background-image: url(../imagenes/malenillas.JPG);
    grid-column: 1/2;
    grid-row: 12/13;
  }
  .item13 {
    background-image: url(../imagenes/manu.JPG);
    grid-column: 1/2;
    grid-row: 13/14;
  }
  .item14 {
    background-image: url(../imagenes/caroylu.JPG);
    grid-column: 1/2;
    grid-row: 14/15;
  }
  .item15 {
    background-image: url(../imagenes/lolla.JPG);
    background-size: 400px;
    background-position: bottom;
    grid-column: 1/2;
    grid-row: 15/16;
  }
  .item16 {
    background-image: url(../imagenes/playa.JPG);
    grid-column: 1/2;
    grid-row: 16/17;
    background-image: 200px;
    background-position: bottom;
  }
  .item17 {
    background-image: url(../imagenes/beso.jpg);
    grid-column: 1/2;
    grid-row: 17/18;
  }
  .item18 {
    background-image: url(../imagenes/rafa.jpg);
    grid-column: 1/2;
    grid-row: 18/19;
    background-position: top;
  }
}
@media only screen and (min-width: 602px) and (max-width: 768px) {
  .tituloGrande {
    display: flex;
    justify-content: center;
    font-size: 70px;
    letter-spacing: 10px;
  }
  #imagen1 {
    width: 80%;
  }
  .contenedorGaleria {
    height: auto;
    width: 80%;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(12, 350px);
    margin-left: 20px;
  }
  .contenedorGaleria .item3 {
    background-image: url(../imagenes/Scotty.JPG);
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .contenedorGaleria .item4 {
    background-image: url(../imagenes/ciana.JPG);
    grid-column: 2/3;
    grid-row: 5/6;
  }
  .contenedorGaleria .item6 {
    background-image: url(../imagenes/viejo.jpg);
    grid-column: 1/2;
    grid-row: 6/7;
  }
  .contenedorGaleria .item8 {
    background-image: url(../imagenes/marte.jpg);
    grid-column: 2/3;
    grid-row: 6/7;
  }
  .contenedorGaleria .item9 {
    background-image: url(../imagenes/marian.JPG);
    grid-column: 1/2;
    grid-row: 7/8;
  }
  .contenedorGaleria .item11 {
    background-image: url(../imagenes/vertical3.jpg);
    grid-column: 2/3;
    grid-row: 7/9;
  }
  .contenedorGaleria .item12 {
    background-image: url(../imagenes/malenillas.JPG);
    grid-column: 1/2;
    grid-row: 8/9;
  }
  .contenedorGaleria .item13 {
    background-image: url(../imagenes/manu.JPG);
    grid-column: 1/2;
    grid-row: 9/10;
  }
  .contenedorGaleria .item14 {
    background-image: url(../imagenes/caroylu.JPG);
    grid-column: 2/3;
    grid-row: 9/10;
  }
  .contenedorGaleria .item15 {
    background-image: url(../imagenes/lolla.JPG);
    background-size: 400px;
    background-position: bottom;
    grid-column: 1/2;
    grid-row: 10/11;
  }
  .contenedorGaleria .item16 {
    background-image: url(../imagenes/playa.JPG);
    grid-column: 2/3;
    grid-row: 10/11;
    background-image: 200px;
    background-position: bottom;
  }
  .contenedorGaleria .item17 {
    background-image: url(../imagenes/beso.jpg);
    grid-column: 1/2;
    grid-row: 11/12;
  }
  .contenedorGaleria .item18 {
    background-image: url(../imagenes/rafa.jpg);
    grid-column: 2/3;
    grid-row: 11/12;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .tituloGrande {
    display: flex;
    justify-content: center;
    font-size: 80px;
    letter-spacing: 15px;
  }
  #imagen1 {
    width: 80%;
  }
  .contenedorGaleria {
    height: auto;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(12, 350px);
  }
  .contenedorGaleria .item3 {
    background-image: url(../imagenes/Scotty.JPG);
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .contenedorGaleria .item4 {
    background-image: url(../imagenes/ciana.JPG);
    grid-column: 2/3;
    grid-row: 5/6;
  }
  .contenedorGaleria .item6 {
    background-image: url(../imagenes/viejo.jpg);
    grid-column: 1/2;
    grid-row: 6/7;
  }
  .contenedorGaleria .item8 {
    background-image: url(../imagenes/marte.jpg);
    grid-column: 2/3;
    grid-row: 6/7;
  }
  .contenedorGaleria .item9 {
    background-image: url(../imagenes/marian.JPG);
    grid-column: 1/2;
    grid-row: 7/8;
  }
  .contenedorGaleria .item11 {
    background-image: url(../imagenes/vertical3.jpg);
    grid-column: 2/3;
    grid-row: 7/9;
  }
  .contenedorGaleria .item12 {
    background-image: url(../imagenes/malenillas.JPG);
    grid-column: 1/2;
    grid-row: 8/9;
  }
  .contenedorGaleria .item13 {
    background-image: url(../imagenes/manu.JPG);
    grid-column: 1/2;
    grid-row: 9/10;
  }
  .contenedorGaleria .item14 {
    background-image: url(../imagenes/caroylu.JPG);
    grid-column: 2/3;
    grid-row: 9/10;
  }
  .contenedorGaleria .item15 {
    background-image: url(../imagenes/lolla.JPG);
    background-size: 400px;
    background-position: bottom;
    grid-column: 1/2;
    grid-row: 10/11;
  }
  .contenedorGaleria .item16 {
    background-image: url(../imagenes/playa.JPG);
    grid-column: 2/3;
    grid-row: 10/11;
    background-image: 200px;
    background-position: bottom;
  }
  .contenedorGaleria .item17 {
    background-image: url(../imagenes/beso.jpg);
    grid-column: 1/2;
    grid-row: 11/12;
  }
  .contenedorGaleria .item18 {
    background-image: url(../imagenes/rafa.jpg);
    grid-column: 2/3;
    grid-row: 11/12;
  }
}
/* GALERIA DE IMAGENES TERMINA  *//*# sourceMappingURL=estilos.css.map */