@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Barlow:wght@900&family=IBM+Plex+Sans&family=Montserrat:wght@100;600;900&family=Roboto:wght@100&display=swap");
/*font-family: 'Alfa Slab One', cursive;
font-family: 'Barlow', sans-serif;
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
*/

$alto-cuenta: 50vh;
$ancho-cuenta: 50vw;
$titulo-font: "Alfa Slab One", cursive;
$azul: #1a1c76;
$azulClaro: #615ebb;
$rojo: #d7391b;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header .navbar{
    background-color: white !important;
}

.nav-item{
    a {
        text-decoration: none;
        color: black;
        position: relative;
}

::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: $azulClaro ;
    position: absolute;
    bottom: 0;
    right: 50%;
    transition: all 0.5s;
    will-change: width;
}
a:hover::after {
    width: 100%;
    right: 0;
}
}

.navbar-collapse {
    display: flex;
    justify-content: end;
    color: black;
}
body {
    background-color: white;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-size: 23px;
    color: black;
    margin: 100;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-size: 50px;
    padding: 30px;
    margin-left: 200px;
}

h3 {
    font-family: "roboto";
    font-weight: 100;
    font-size: 20px;
    color: black;
    margin-top: 30px;
    text-align: center;
}

/* INDEX COMIENZA */
.nombre {
    border: solid 1px black;
    padding: 25px;
    display: inline-block;
    font-size: 30px;
    font-family: Arial;
    width: 120px;
    height: 110px;
    margin-left: 35px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.contenedor-imagenPrincipal {
    display: flex;
    justify-content: center;
    height: 550px;
    margin-top: 50px;
    img {
        max-width: 100%;
        height: auto;
        opacity: 0;
        animation: aparecer 3s;
        animation-fill-mode: forwards;
}
}
@keyframes aparecer {
    from {
    opacity: 0;
}

    to {
    opacity: 1;
}
}

#spanNombre {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.parrafo-index {
    font-weight: 100;
    font-size: 20px;
    color: black;
    margin-top: 30px;
    text-align: center;
}
.tituloSaludo {
    font-size: 60px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    margin-top: 50px;
    margin-left: 20px;
}
/* INDEX TERMINA */

/* TRABAJEMOS COMIENZA */

@import "trabajemos.scss";

/* TRABAJEMOS TERMINA */

/* ULTIMO PROYECTO EMPIEZA */
.tituloGrande2 {
    margin-top: 10px;
    color: $azul;
    font-weight: bold;
    font-family: $titulo-font;
    font-size: 100px;
    letter-spacing: 30px;
    position: absolute;
    margin-left: 40px;
}
.carrusel {
    height: auto;
    margin-left: 300px;
    margin-top: 80px;
    width: 800px;
    box-shadow: 2px 2px 15px #2b2a4c;
}
/* ULTIMO PROYECTO TERMINA */

/* CONTACTO EMPIEZA */
.contenedorContacto {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(2, 200px);
    margin-left: calc($ancho-cuenta / 2.5);
    margin-top: 70px;
    column-gap: 30px;
    row-gap: 30px;
}
.box {
    background-position: center;
    background-size: cover;
    position: relative; 
    overflow: hidden;
}
.box1 {
    grid-column: 1/2;
    grid-row: 1/2;
    background-image: url(../imagenes/byn.jpg);
}
.box2 {
    grid-column: 2/4;
    grid-row: 1/3;
    background-image: url(../imagenes/byn2.jpg);
    h1 {
    font-family: $titulo-font;
    font-size: 80px;
    overflow: hidden;
    margin-top: 90px;
    margin-left: 10px;
    letter-spacing: -5px;
    color: white;
    }
}
.box3 {
    grid-column: 4/5;
    grid-row: 1/2;
}
.box4 {
    grid-column: 1/2;
    grid-row: 2/3;
    background-image: url(../imagenes/byn.jpg);
}
.box5 {
    grid-column: 4/5;
    grid-row: 2/3;
    background-image: url(../imagenes/qr.jpeg);
}
.box6 {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: $azul;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}
.box6:hover {
    opacity: 0;
}

/* CONTACTO TERMINA */
/*  FOOTER */
footer {
    height: 30px;
    background-color: rgba(0, 0, 0, 0.737);
    .redes {
        margin-left: 50px;
        font-size: 20px;
        flex-direction: row;
        letter-spacing: 15px;
}
}

#pContacto {
    color: white;
    margin-left: 50px;
    margin-top: 150px;
    margin-bottom: 15px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
}
/*  FOOTER */
/* GALERIA DE IMAGENES EMPIEZA  */
@import "galeria.scss";
/* GALERIA DE IMAGENES TERMINA  */

/* RESPONSIVE */
@media only screen and (min-width: 320px) and (max-width: 600px) {
    .tituloSaludo{
        margin-left: 0px;
        font-size: 50px;
    }
.contenedor-imagenPrincipal {
    height: auto;
    img {
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
        margin-left: 0px;
    }
}    
.tituloGrande2 {
    width: 100%;
    font-size: 50px;
    letter-spacing: 7px;
    margin-left: 0;
}
.carrusel {
    width: 100% !important;
    height: 300px!important;
    margin-left: 0;
}
}
@media only screen and (min-width: 601px) and (max-width: 768px){
    .contenedor-imagenPrincipal {
    height: auto;
    img {
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
        margin-left: 0px;
}
}
.carrusel {
    display: flex;
    justify-content: center !important;
    height: 250px!important;
}
.tituloGrande2 {
    width: 100%;
    font-size: 70px;
    letter-spacing: 15px;
    margin-left: 0;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
.contenedor-imagenPrincipal {
    height: auto;
}
}
.main-carrusel{

    .carrusel {
    width: 100% !important;
    height: auto !important;
    margin-left: 0;    
    display: flex !important; 
    justify-content: center !important;
    align-items: center !important;
}
}

}