
  @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Montserrat:wght@100;600&family=Roboto:wght@100;300;700&display=swap');
/*font-family: 'Alfa Slab One', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
a{
text-decoration: none; 
    color: black;
    position: relative;
}

header a::after{
 content: "";
 width: 0;
 height: 2px;
 background-color: #615ebb;
 position: absolute;
 bottom: 0;
 right: 50%;
 transition: all .5s;
 will-change: width;

}


header a:hover::after{
    width: 100%;
    right: 0;

}



.contenedor-flex{
    display: flex;
    justify-content: flex-end;
     width: 100%;
   
}

.contenedor-flex ul li {
   list-style-type:none;
    display: inline;
     margin-left: 50px;
     margin-right: 10px;
}



body{
    background-color: whitesmoke; 
}

h1{
    font-family: 'Roboto', sans-serif;
     font-size: 23px; 
    color: black;
    margin: 100;
}

h2{
   
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 50px;
    padding: 30px;
    margin-left: 200px;

}

h3{
    font-family: 'Montserrat', sans-serif;
    margin: 200;
    margin-top: 150px;
   text-align: center;
}
.saludo{
font-size: 60px;
font-family: 'Roboto', sans-serif;
font-weight: 100;
margin-top: 50px;
margin-left: 20px;}

.pHablemos{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 25px;
    letter-spacing: 2px;
    margin-right: 20px;

 }

.redes{
    margin-left: 50px;
    font-size: 20px;
    flex-direction: row;
    letter-spacing:15px;

 
}
.nombre {border: solid 1px black;
padding: 25px;
display:inline-block ;
font-size: 30px;
font-family: Arial;
width: 120px;
height: 110px;
margin-left:35px;
margin-top: 30px;
margin-bottom: 20px;
}

.imagenPrincipal {
    margin-left: 300px;
    margin-top: 25px;
}
.tituloGrande {
    color:  #d7391b;
    margin-top: 60px;
    text-align: center;
    font-weight: bold;
    font-family: 'Alfa Slab One', cursive;
    font-size: 100px;
    letter-spacing: 90px;
}

.tituloGrande2{
    color: rgba(0, 0, 0, 0.835);
    margin-top: 60px;
    text-align: center;
    font-weight: bold;
    font-family: 'Alfa Slab One', cursive;
    font-size: 80px;
    letter-spacing: 90px;
}
.tituloGrande3{
    color: rgba(0, 0, 0, 0.835);
    margin-top: 60px;
  margin-left: 40px;
    font-weight: bold;
    font-family: 'Alfa Slab One', cursive;
    font-size:70px;
    letter-spacing: 30px;
}

.hablemos{
   font-family: 'Roboto', sans-serif;
   font-size: 80px; 
   color: black;
   margin: 100;
   margin-top: 50px;
   margin-left: 400px;
   
   
}
.fraseQr{
       display: flex;
       margin-top: 150px;
       padding:  2px solid #2B2A4C;
       border: solid 1px #2B2A4C;
       padding: 20px;
       width: 550px;
       height: auto;
       gap: 200px;
    
    
}
.qrContacto{
   justify-content: right;
    margin-right: 80px;
  
}

.jereImagenes img{
    margin-top: 50px;
   margin-left: 300px;
   padding: 2px black ;
}
#pSobreMi{
    background-color:crimson;
    padding:50px;
    width: 100%;
    color:white;
    margin-top: 50px;
    margin-left: 70px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
 }
 
 
#spanSobreMi{
    font-family: 'Alfa Slab One', cursive;
    font-size: 80px;
  margin-right: 100px;
}

#spanNombre{
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
   }

#spotify{
    margin-left: 300px;
    margin-top: 40px;
}
#pContacto{
    color: white;
    margin-left: 50px;
    margin-top: 150px;
    margin-bottom: 15px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}


footer{
    height: 30px;
    background-color: rgba(0, 0, 0, 0.733);
}

/* GALERIA DE IMAGENES  */
#imagen1{
  margin-left: 300px;
  margin-bottom: 50px;
 
}


.contenedorGaleria{
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(7, 200px);
    column-gap: 10px;
    row-gap: 10px;
    margin-left: 100px;
 
}

.item{
    background-size: cover;
    background-position: center;
    transition: 1s;
}

.item:hover{
    transform: scale(1.2);
    z-index: 2;
}


.item1{
    background-image: url(IMAGENES/\ imagenesGALERIA/vertical4.jpg) ;
    grid-column: 1/2;
    grid-row: 1/3;
}

.item2{
    background-image: url(IMAGENES/\ imagenesGALERIA/dorperon.jpg);  
    grid-column: 2/3;
    grid-row: 1/2;
}

.item3{
    background-image: url(IMAGENES/\ imagenesGALERIA/Scotty.jpg) ;   
    grid-column: 3/4;
    grid-row: 1/2;
}

.item4{
background-image:url(IMAGENES/\ imagenesGALERIA/ciana.jpg);
grid-column: 4/5;
grid-row: 1/2;
}

.item5{
    background-image: url(IMAGENES/\ imagenesGALERIA/vertical5.jpg);
grid-column: 2/3;
grid-row: 2/4;
    

}
.item6{
    background-image: url(IMAGENES/\ imagenesGALERIA/viejo.jpg);
    grid-column: 3/5;
    grid-row: 2/3;
}

.item7{
    background-image: url(IMAGENES/\ imagenesGALERIA/matu.jpg);
    grid-column: 1/2;
    grid-row: 3/4;
    
}
.item8{
   background-image: url(IMAGENES/\ imagenesGALERIA/marte.jpg);
    grid-column: 3/4;
    grid-row: 3/4;

}

.item9{
    background-image: url(IMAGENES/\ imagenesGALERIA/marian.jpg);
    grid-column: 4/5;
    grid-row: 3/4;

}

.item10{
    background-image: url(IMAGENES/\ imagenesGALERIA/mono.jpg);
    grid-column: 1/3;
    grid-row: 4/5;
}

.item11{
    background-image: url(IMAGENES/\ imagenesGALERIA/vertical3.jpg);
    grid-column: 3/4;
    grid-row: 4/6;
}
.item12{
    background-image: url(IMAGENES/\ imagenesGALERIA/malenillas.jpg);
    grid-column: 1/2;
    grid-row: 5/6;
}

.item13{
    background-image: url(IMAGENES/\ imagenesGALERIA/manu.jpg);
    grid-column: 2/3;
    grid-row: 5/6;
}

.item14{
    background-image: url(IMAGENES/\ imagenesGALERIA/caroylu.jpg);
    grid-column: 4/5;
    grid-row: 4/5;
}

.item15{
    background-image: url(IMAGENES/\ imagenesGALERIA/lolla.jpg);
    background-size: 400px;
    background-position: bottom;
    grid-column: 4/5;
    grid-row: 5/6;
}

.item16{
    background-image: url(IMAGENES/\ imagenesGALERIA/playa.jpg);
    grid-column: 2/4;
    grid-row: 6/7;
    background-image: 200px;
    background-position: bottom;
}

.item17{
    background-image: url(IMAGENES/\ imagenesGALERIA/beso.jpg);
    grid-column: 1/2;
    grid-row: 6/7;
}

.item18{
   background-image: url(IMAGENES/\ imagenesGALERIA/rafa.jpg);
    grid-column: 4/5;
    grid-row: 6/7;
}






